{% extends "top.html" %}
{% block content %}
    <div class='container'>
        <div class='row'><h1>Google Search Api</h1></div>
        <div class='row'>
            <small>Search: {{ data['queries']['request'][0]['searchTerms'] }} | Total Results: {{ data['queries']['request'][0]['totalResults'] }}</small>
        </div>
        <br>
            {% for segment in data['items'] %}
                <div class='row' style='margin:3px;'>
                    <div class='col-md-12'>
                        <div class="card" style='padding: 20px;'>
                            <div class="card-block">
                                <h4 class="card-title">{{ segment['htmlTitle']|safe }}</h4>
                                <h6 class="card-subtitle mb-2 text-muted">
                                    <a href='{{ segment['link'] }}' target='_blank'>
                                        {{ segment['displayLink']|safe  }}
                                    </a>
                                </h6>
                                <p class="card-text">{{ segment['htmlSnippet']|safe }}</p>
                            </div>
                        </div>
                    </div>
                </div>
            {% endfor %}
    </div>
{% endblock %}