<html>
    <head>
        <title>Trends</title>
        <link rel="stylesheet" href="{{ url_for('static', filename='css/bootstrap.min.css') }}">
        <script src="https://code.jquery.com/jquery-3.2.1.slim.min.js"></script>
        <script src="{{ url_for('static', filename='js/bootstrap.bundle.min.js') }}"></script>
        <script src="https://cdnjs.cloudflare.com/ajax/libs/Chart.js/2.7.1/Chart.min.js"></script>
    </head>
    <body>
        <div class='container'>
            <div class='row'>
              <div class='col-lg-12'>
                  <h1 class="text-center">Google Trends: {{ term }}</h1>
              </div>
            </div>
            <br>
            <div class='row'>
              <div class='col-md-6'>
                  <canvas id="influence-over-time" width="600" height="400"></canvas>
              </div>
              <div class='col-md-6'>
                  <canvas id="region" width="600" height="400"></canvas>
              </div>
            </div>
            
        </div>
        <script>
            new Chart(document.getElementById("influence-over-time"), {
              type: 'line',
              data: {
                labels: [{% for date in dates %}
                      "{{date}}",
                  {% endfor %}],
                datasets: [
                  {
                    label: 'Interest Over Time',
                    data: [{% for value in values %}
                      {{value}},
                    {% endfor %}],
                    borderColor: "#3e95cd",
                  }
                ]
              }
            });

            var barData = {
              labels : [{% for province in provinces %}
                              "{{province}}",
                          {% endfor %}],
              datasets : [
                {
                  label: 'Interest by region',
                  borderColor: "rgb(62,149,205)",
                  backgroundColor: "rgb(62,149,205)",
                  data : [{% for value in province_value %}
                                {{value}},
                              {% endfor %}]
                }
              ]
            }

            var myBarChart = new Chart(document.getElementById("region"), {
              type: 'bar',
              data: barData,
            });
        </script>
    </body>
</html>